@import url(https://fonts.googleapis.com/css?family=Oswald);

* {
	font-family: Arial;
}

#titlerain {
	font-family: 'Oswald', sans-serif;
	color: #CEECF5;
	font-size: 80px;
	margin: 0px;
	text-align: center;
	text-shadow: -2px 2px 0 #6E6E6E;
	background: #2E2E2E;
}

h1 {
	font-size: 30px;
	font-family: 'Oswald', sans-serif;
}