<h1>Products</h1>

<table>
<% @products.each do |product| %>
<tr><p>Product: <%= product.name %></p></tr>
<%= link_to "Product Item", "/products/#{product.id}" %>
<tr><p>Description: <%= product.description %></p></tr>
<tr><p>Price: <%= product.price_in_cents %></p></tr>
---------------------------
<% end %>
</table>